@model List<Media>
@{
    ViewData["Title"] = "My Media";
}

<h2>Media Library</h2>

<a asp-controller="Media" asp-action="Add">Add New Media</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var media in Model)
            {
                <tr>
                    <td>@media.Title</td>
                    <td>@media.Genre</td>
                    <td>@media.Rating</td>
                    <td>@media.Description</td>
                    <td>
                        <a asp-controller="Media" asp-action="Edit" asp-route-id="@media.MediaId">Edit</a>
                        <a asp-controller="Media" asp-action="Delete" asp-route-id="@media.MediaId">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
